<div class="row">
  <div class="col-6 m-auto">
  <div class="card m-auto">
    <div class="card-header">
      Login
    </div>
    <div class="card-body">
      <form *ngIf="!isLoggedIn" [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <div class="form-group col-12">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control required" formControlName="userName">
            <span *ngIf="!userName.valid && userName.touched"
            class="error-block">
              Please enter a valid user name.
            </span>
        </div>

        <div class="form-group col-12">
          <label for="passwrod" class="form-label">Password</label>
          <input type="password" class="form-control required" formControlName="userPassword">
          <span *ngIf="!userPassword.valid && userPassword.touched" class="error-block">
            <span *ngIf="userPassword.hasError('required')">
              Please provide password
            </span>
            <span *ngIf="userPassword.hasError('minlength')">
              Password should be at least 8 characters long
            </span>
          </span>
        </div>

        <div class="form-group col-12">
          <button [disabled]="!loginForm.valid" type="submit" class="btn btn-primary">Login</button>
          <button type="reset" class="btn btn-secondary ml-2">Cancel</button>
        </div>
      </form>
      <span *ngIf="isLoginFailed" class="error-block">
        Incorrect Username or Password</span>
      <div class="alert alert-success" *ngIf="isLoggedIn">
        Logged in as {{ roles }}.
      </div>
    </div>
  </div>
  </div>
</div>
