<div class="row">
  <div class="col-6 m-auto">
  <div class="card m-auto">
    <div class="card-header">
      Register
    </div>
    <div class="card-body">
      <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
        <div class="form-group col-12">
            <label for="name" class="form-label">Username</label>
            <input type="text" class="form-control" formControlName="userName">
            <span *ngIf="!userName.valid && (userName.touched || userSubmitted)"
            class="error-block">
              Please enter a valid user username.
            </span>
        </div>

        <div class="form-group col-12">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" formControlName="userEmail">
          <span *ngIf="!userEmail.valid && (userEmail.touched  || userSubmitted)" class="error-block">
            <span *ngIf="userEmail.hasError('required')">
              Please enter an email.
            </span>
            <span *ngIf="userEmail.hasError('email')">
              Please enter a valid email.
            </span>

          </span>
        </div>

        <div class="form-group col-12">
          <label for="passwrod" class="form-label">Password</label>
          <input type="password" class="form-control" formControlName="userPassword">
          <span *ngIf="!userPassword.valid && (userPassword.touched  || userSubmitted)" class="error-block">
            <span *ngIf="userPassword.hasError('required')">
              Please provide password
            </span>
            <span *ngIf="userPassword.hasError('minlength')">
              Password should be at least 8 characters long
            </span>
          </span>
        </div>

        <div class="form-group col-12">
          <label for="cpassword" class="form-label">Confirm Password</label>
          <input type="password" class="form-control" formControlName="userPasswordConf">
          <span *ngIf="!userPasswordConf.valid && (userPasswordConf.touched  || userSubmitted)" class="error-block">
            <span *ngIf="userPasswordConf.hasError('required')">
              Please confirm password
            </span>
          </span>
          <span *ngIf="registrationForm.hasError('notmatched') && userPasswordConf.valid"  class="error-block">
            Passwords do not match
          </span>
        </div>

        <div class="form-group col-12">
          <label for="name" class="form-label">First name</label>
          <input type="text" class="form-control" formControlName="userFirstName">
          <span *ngIf="!userFirstName.valid && (userFirstName.touched || userSubmitted)"
          class="error-block">
            Please enter a valid user first name.
          </span>
        </div>

      <div class="form-group col-12">
        <label for="name" class="form-label">Last name</label>
        <input type="text" class="form-control" formControlName="userLastName">
        <span *ngIf="!userLastName.valid && (userLastName.touched || userSubmitted)"
        class="error-block">
          Please enter a valid user username.
        </span>
      </div>


        <div class="form-group col-12">
          <label for="mobile" class="form-label">Mobile</label>
          <input type="text" class="form-control" formControlName="userMobile">
          <span *ngIf="!userMobile.valid && (userMobile.touched  || userSubmitted)" class="error-block">
              Please enter a valid mobile number.
            </span>
        </div>

        <div class="form-group col-12">
          <button [disabled]="!registrationForm.valid" type="submit" class="btn btn-primary">Save</button>
          <button type="reset" class="btn btn-secondary ml-2">Cancel</button>
        </div>
      </form>
      <div class="alert alert-warning" *ngIf="userSubmitted && isSignUpFailed">
        Signup failed!<br />{{ errorMessage }}
      </div>
    </div>
  </div>
  </div>
</div>
